.rectangles-container {
  display: flex;
  justify-content: center; /* Aligns the rectangles in center */
  width: 100%;
}

.rectangles {
  display: flex;
  flex-direction: column; /* Stack the children vertically */
  justify-content: center; /* Centers the squares vertically */
  align-items: center; /* Centers the squares horizontally */
  width: 150px;
  height: 250px;
  background-color: transparent;
  margin: 15px;
  border: 1px solid black;
}

.square-box {
  width: 100px;
  height: 100px;
  background-color: #333;
  margin: 10px;
  border-radius: 15px;
}

.sound-box {
  width: 70px;
  height: 70px;
  background-color: #666;
  border-radius: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sound-button {
  width: 50px;
  height: 50px;
  justify-content: center;
}

.rectangle-item {
  display: flex;
  align-items: center;
}

.check-button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.timer-content-dd {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 5px; /* You can adjust this for spacing between icon and text */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional, to give it some background for readability */
  padding: 5px;
  border-radius: 5px;
}
