.rectangle-container-lo {
  display: flex;
  justify-content: center; /* Aligns the rectangles in center */

  padding: 20px;
}

.rectangles-lo {
  display: flex;
  flex-direction: column; /* Stack the children vertically */
  justify-content: center; /* Centers the squares vertically */
  align-items: center; /* Centers the squares horizontally */
  width: 200px;
  height: 250px;
  background-color: transparent;
  margin: 15px;
  border: 1px solid black;
}

.square-box-lo {
  width: 110px;
  height: 110px;
  background-color: #333;
  margin: 10px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.sound-box-lo {
  width: 120px;
  height: 70px;
  background-color: #666;
  border-radius: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
