.rectangle-container-pp {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
}

.rectangle-pp {
  width: 300px;
  height: 300px;
  background-color: transparent;
  border-radius: 15px;
  border: 2px solid black;
  margin-right: 50px; /* Add some space between rectangle and beaker */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}

.beaker-container-pp {
  width: 150px;
  height: 200px;
  background: lightblue;
  position: relative;
  margin-left: 90px; /* Add some space between rectangle and beaker */
}

.square-box-pp {
  width: 70px;
  height: 70px;
  background-color: #ddd;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 5px;

  outline: none;
  cursor: pointer;
}
.square-box-pp img {
  max-width: 100%;
  max-height: 100%;
}
/* This creates the upper trapezoid shape of the beaker */

/* This creates the upper trapezoid shape of the beaker */
.beaker-container-pp::before {
  content: "";
  position: absolute;
  border-bottom: 30px solid lightblue;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  width: 140px;
  height: 0;
  top: -29px; /* Adjust according to border-bottom */
  left: 50%;
  transform: translateX(-50%);
}

/* Optional: This will add a bottom to the beaker */
.beaker-container-pp::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: lightblue;
}

.random-number-pp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.check-button-pp {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.sound-button-pp {
  width: 70px;
  height: 70px;
}

.inner-box-pp {
  width: 70px;
  height: 70px;
  margin: 5px;
  background-color: #ddd;
}

/* .timer-content-pp {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 5px; /* You can adjust this for spacing between icon and text */
/* background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional, to give it some background for readability */
/* padding: 5px;
  border-radius: 5px;
} */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

button {
  margin-top: 20px;
}

.top-row-pp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.timer-content-pp {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}
