.rectangle-container-tt {
  display: flex;
  /*flex-direction: column; /* Changed from row to column */
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.rectangles-tt {
  display: flex;
  justify-content: center;
}

.square-box-tt {
  width: 100px;
  height: 100px;
  background-color: #333;

  border-radius: 15px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 20px;
  background: none;
  outline: none;
  cursor: pointer;
}
.square-box-tt img {
  max-width: 100%;
  max-height: 100%;
}

.beaker-tt {
  width: 150px;
  height: 200px;
  background: lightblue;
  position: relative;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centers the button horizontally */
}

/* This creates the upper trapezoid shape of the beaker */
.beaker-container-tt {
  width: 150px;
  height: 150px;
  background: lightblue;
  position: relative;
  margin-top: 50px;
}

/* This creates the upper trapezoid shape of the beaker */
.beaker-container-tt::before {
  content: "";
  position: absolute;
  border-bottom: 30px solid lightblue;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  width: 140px;
  height: 0;
  top: -29px; /* Adjust according to border-bottom */
  left: 50%;
  transform: translateX(-50%);
}

/* Optional: This will add a bottom to the beaker */
.beaker-container-tt::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: lightblue;
}

.square-button-tt {
  width: 100px;
  height: 100px;

  background-color: transparent;
  border: none;
  margin: 0;
  border-radius: 8px;
  cursor: pointer;
}

/* .square-button-tt:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); 
} */

.check-button-tt {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.rectangles-wrapper-tt {
  position: relative;
}

.check-box-tt {
  width: 80px; /* or whatever width you want */
  height: auto; /* maintain aspect ratio */
}
.timer-content-tt {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 5px; /* You can adjust this for spacing between icon and text */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional, to give it some background for readability */
  padding: 5px;
  border-radius: 5px;
}

.sound-button-tt {
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 50px;
}
