.rectangle-container-ts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

/* .page-container-ts {
  background-color: #c6f7f3;
  min-height: 100vh;
} */

.rectangle-container-ts .clickable-box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--white); /* Default background color */
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  outline-offset: -1rem;
  overflow: hidden;
  transition: transform 0.2s; /* Add a smooth transition for scaling */
}

.rectangle-container-ts .clickable-box:hover {
  transform: scale(1.1);
}

.rectangle-container-ts .clickable-box:nth-child(odd) {
  background: var(--pink);
}

.rectangle-container-ts .clickable-box:nth-child(2) {
  background: var(--orange);
}

.rectangle-container-ts .clickable-box img {
  max-width: 50%;
  max-height: 50%;
}
