/*Form*/
.form {
  background: rgb(103, 108, 114);
  background: linear-gradient(
    90deg,
    rgb(0, 101, 219) 30%,
    rgba(0, 212, 255, 1) 100%
  );
}

/*Teacher*/
.list-group a:hover {
  background-color: #cb99c9;
  color: white;
  cursor: pointer;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.divInput {
  min-height: 30px;
  border: 1px solid #ccc;
  padding: 4px;
}

.divInput:empty::before {
  content: attr(placeholder);
  color: #aaa;
}

.divInput:focus {
  outline: none;
}

.validationMessage {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 5px; /* Adjust for your preferred spacing */
}

.divInput:empty + .validationMessage {
  display: block;
}

.radioButtonDiv {
  display: flex;
  justify-content: center;
  gap: 6rem;
  font-size: 1rem;
}

/* Game card*/
.custom-card {
  margin: 20px;
  max-width: 300px;
  max-height: 433px;
  width: 200px; /* Adjust the value as per your requirement */
  overflow: hidden; /* To ensure content doesn't spill out of the card if it exceeds the height */
  /* any other styles you want to add */
}

.card-img-top {
  max-width: 60%; /* Set the maximum width */
  max-height: 60%; /* Set the maximum height */
  display: block; /* To center the image */
  margin: 50px; /* To center the image */
}

.button-image {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  margin-bottom: 10px; /* Space between image and label */
}

/* Custom button size */
.big-button {
  width: 170px; /* Adjust as required */
  height: 170px; /* Adjust as required */
  padding: 20px; /* Adjust as required */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-image {
  width: 100px; /* Adjust as required */
  height: 100px; /* Adjust as required */
}

/* add border to update fields*/
.bordered-fields {
  border: 1px solid black;
  box-sizing: border-box;
}

.btn-success-soft {
  color: #28a745;
  background-color: rgba(40, 167, 69, 0.1);
}
.btn-danger-soft {
  color: #dc3545;
  background-color: rgba(220, 53, 69, 0.1);
}

.upload-box {
  display: inline-block;
  width: 150px; /* Making the box bigger */
  height: 150px; /* Making the box bigger */
  background-color: #f7f7f7; /* or any desired color */
  border: 2px solid #ccc;
  border-radius: 4px; /* for rounded corners, can be omitted */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.upload-box:hover {
  background-color: #e5e5e5; /* light hover effect */
}

/*Upload Media*/
/* This is for the enabled state */
.btn.upload-btn {
  background-color: blue;
  border-color: blue;
  color: #fff; /* Assuming white text on a blue button */
}

/* This is for the disabled state */
.btn.upload-btn:disabled {
  background-color: #ddd; /* Grayish color, for example */
  border-color: #aaa; /* Slightly darker border for some depth */
  cursor: not-allowed; /* Indicates the button is not clickable */
}
